html {
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  background-color: #141413;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 80vh;
}

.title {
  font-size: 5em;
  color: #d97757;
  text-align: center;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search input {
  font-family: "Lora", serif;
  background-color: transparent;
  width: 400px;
  font-size: 1.4em;
  border: none;
  outline: none;
  margin-top: 25px;
  color: #faf9f5;
  text-align: center;
}

.search input::placeholder {
  color: #faf9f5;
  transition: color 0.4s ease;
}

.search input:focus::placeholder {
  color: transparent;
}

.searchBottom {
  width: 100%;
  height: 3px;
  border-radius: 2px;
  margin-top: 20px;
  background-color: #d97757;
}
